In [1]:
import pandas as pd

You are given berlin airbnb dataset https://www.kaggle.com/brittabettendorf/berlin-airbnb-data. 

Here you  can find the booking calendar 2018-2019, listing description, reviews and neighbourhood summary. Follow the link above to get the full dataset description.

The goal of this task is to predict whether the apartment would be booked or not in September 2019. Please test your model on Septempber 2019 data from `calendar_summary.csv`. 

Feel free to add external open source data, choose the metrics for the classification problem, split dataset for train and validation in your way.  

Please send us your notebook with the solution.

In [19]:
calendar = pd.read_csv('../../Downloads/berlin-airbnb-data/calendar_summary.csv')

In [23]:
calendar.head()

   listing_id        date available price
0        2015  2019-09-10         f   NaN
1        2015  2019-09-09         f   NaN
2        2015  2019-09-08         f   NaN
3        2015  2019-09-07         f   NaN
4        2015  2019-09-06         f   NaN

In [21]:
listings = pd.read_csv('../../Downloads/berlin-airbnb-data/listings.csv')

In [22]:
listings.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2015,Berlin-Mitte Value! Quiet courtyard/very central,2217,Ian,Mitte,Brunnenstr. Süd,52.534537,13.402557,Entire home/apt,60,4,118,2018-10-28,3.76,4,141
1,2695,Prenzlauer Berg close to Mauerpark,2986,Michael,Pankow,Prenzlauer Berg Nordwest,52.548513,13.404553,Private room,17,2,6,2018-10-01,1.42,1,0
2,3176,Fabulous Flat in great Location,3718,Britta,Pankow,Prenzlauer Berg Südwest,52.534996,13.417579,Entire home/apt,90,62,143,2017-03-20,1.25,1,220
3,3309,BerlinSpot Schöneberg near KaDeWe,4108,Jana,Tempelhof - Schöneberg,Schöneberg-Nord,52.498855,13.349065,Private room,26,5,25,2018-08-16,0.39,1,297
4,7071,BrightRoom with sunny greenview!,17391,Bright,Pankow,Helmholtzplatz,52.543157,13.415091,Private room,42,2,197,2018-11-04,1.75,1,26

In [20]:
neighbourhoods = pd.read_csv('../../Downloads/berlin-airbnb-data/neighbourhoods.csv')

In [24]:
neighbourhoods.head()

    neighbourhood_group        neighbourhood
0  Charlottenburg-Wilm.            Barstraße
1  Charlottenburg-Wilm.  Charlottenburg Nord
2  Charlottenburg-Wilm.  Düsseldorfer Straße
3  Charlottenburg-Wilm.      Forst Grunewald
4  Charlottenburg-Wilm.            Grunewald